:root {
  --color: 140, 45%;
  --l: 40%;

  --primary-dark: hsl(var(--color), var(--l));
  --primary-mid: hsl(var(--color), calc(var(--l) + 12%));
  --primary-light: hsl(var(--color), calc(var(--l) + 24%));

  --secondary-dark: hsl(0, 2%, 70%);
  --secondary-mid: hsl(0, 0%, 85%);
  --secondary-default: hsl(0, 0%, 82%);
  --secondary-light: hsl(0, 0%, 98%);

  --font-color-dark: hsl(0, 0%, 5%);
  --font-color-light: hsl(0, 0%, 57%);

  --accent-color: hsl(43, 91%, 48%);
  --error-color: hsl(349, 100%, 45%);
  /*===============new CP Log In===*/
  --primary-veryDark: hsl(var(--color), calc(var(--l) - 10%));
  --font-logo-size: clamp(4rem, 10vw, 5vw);
  /*====================================================================*/
  /*======neue CP=========*/
  --m-font: calc(var(--s-font) * 1.5);
  --header-question-list: clamp(1.5rem, 20vw, 2rem);
  --question-list-padding-inline: clamp(0.6vw, 20vw, 1vw);
  --list-padding: var(--question-list-padding-inline);
  --list-item-padding: 0.5rem;
  --list-hover: hsl(0, 0%, 92%);
  /*====================================================================*/
}

html {
  /*green*/
  --color: 140, 45%;
  --l: 40%;

  --primary-dark: hsl(var(--color), var(--l));
  --primary-mid: hsl(var(--color), calc(var(--l) + 12%));
  --primary-light: hsl(var(--color), calc(var(--l) + 24%));

  --secondary-dark: hsl(0, 2%, 70%);
  --secondary-mid: hsl(0, 0%, 85%);
  --secondary-default: hsl(0, 0%, 82%);
  --secondary-light: hsl(0, 0%, 95%);

  --font-color-dark: hsl(0, 0%, 5%);
  --font-color-light: hsl(0, 0%, 57%);

  --accent-color: hsl(43, 91%, 48%);
  --error-color: hsl(349, 100%, 25%);
}
html[data-theme="dark"] {
  /*green*/
  --color: 140, 45%;
  --l: 40%;

  --color-primary: hsl(var(--color), var(--l));
  --color-primary-light: hsl(var(--color), calc(var(--l) + 24%));
  --color-primary-mid: hsl(var(--color), calc(var(--l) + 12%));

  --secondary-dark: hsl(0, 0%, 12%);
  --secondary-mid: hsl(0, 0%, 16%);
  --secondary-default: hsl(0, 0%, 37%);
  --secondary-light: hsl(0, 0%, 60%);

  --clr-trans: transparent;

  --font-color-dark: hsl(0, 0%, 82%);
  --font-color-light: hsl(0, 0%, 57%);

  --error-color: hsl(349, 54%, 53%);
  --accent-color: hsl(43, 92%, 36%);
}
