html[data-theme="light"] {
  /*green*/
  --color: 140, 45%;
  --l: 40%;

  --primary-dark: hsl(var(--color), var(--l));
  --primary-mid: hsl(var(--color), calc(var(--l) + 12%));
  --primary-light: hsl(var(--color), calc(var(--l) + 24%));

  --secondary-dark: hsl(0, 2%, 70%);
  --secondary-mid: hsl(0, 0%, 85%);
  --secondary-default: hsl(0, 0%, 82%);
  --secondary-light: hsl(0, 0%, 95%);

  --font-color-dark: hsl(0, 0%, 5%);
  --font-color-light: hsl(0, 0%, 57%);

  --accent-color: hsl(43, 91%, 48%);
  --error-color: hsl(349, 100%, 35%);
}
html[data-theme="dark"] {
  /*green*/
  --color: 140, 45%;
  --l: 40%;

  --color-primary: hsl(var(--color), var(--l));
  --color-primary-light: hsl(var(--color), calc(var(--l) + 24%));
  --color-primary-mid: hsl(var(--color), calc(var(--l) + 12%));

  --secondary-dark: hsl(0, 0%, 12%);
  --secondary-mid: hsl(0, 0%, 16%);
  --secondary-default: hsl(0, 0%, 37%);
  --secondary-light: hsl(0, 0%, 60%);

  --font-color-dark: hsl(0, 0%, 82%);
  --font-color-light: hsl(0, 0%, 57%);

  --error-color: hsl(349, 54%, 53%);
  --accent-color: hsl(43, 92%, 36%);
}
