@font-face {
  font-family: "Roboto";
  src: url("/src/Fonts/roboto/Roboto-Thin.woff2") format("woff2");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/Fonts/roboto/Roboto-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/Fonts/roboto/Roboto-LightItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/src/Fonts/roboto/Roboto-Regular.woff2") format("woff2");

  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/Fonts/roboto/Roboto-Italic.woff2") format("woff2");

  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/src/Fonts/roboto/Roboto-Medium.woff2") format("woff2");

  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/Fonts/roboto/Roboto-Black.woff2") format("woff2");

  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/Fonts/roboto/Roboto-Bold.woff2") format("woff2");

  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/*=========================================================================================*/
@font-face {
  font-family: "Bodoni";
  src: url("/src/Fonts/Bodoni/BodoniModa_28pt-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Bodoni";
  src: url("/src/Fonts/Bodoni/BodoniModa_72pt-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

:root {
  /*=========================================*/
  --clr-icons: var(--primary-dark);
  --clr-type-icon: var(--clr-icons);
  --clr-seat-icon: var(--clr-icons);
  /*==============================================*/
  /*          für bewertung                       */

  --clr-state-icons: var(--secondary-default);
  --clr-state-active: var(--accent-color);
  /*==============================================*/

  --clr-bg: var(--secondary-dark);
  --clr-bg-main: var(--secondary-light);

  --clr-error: var(--error-color);

  /*============================================*/
  --font-size: 1rem;
  --s-font: var(--font-size);
  --m-font: calc(var(--s-font) * 1.5);
  --l-font: calc(var(--m-font) * 2);
  --icon-margin: 0.1rem;
  --margin-default: 1rem;
  --padding-default: 1rem;
  --s-marg: var(--margin-default);
  --xs-pad: calc(var(--s-pad) / 2);
  --s-pad: var(--padding-default);
  --m-pad: calc(var(--padding-default) * 2);

  --s-brd: 1px;
  --m-brd: 2px;
  --l-brd: 3px;
  /*===========================*/

  --f-weight-light: 300;
  --f-weight-reg: 400;
  --f-weight-m: 500;
  --f-weight-l: 600;
  --f-weight-bold: 700;
  --font-hr3: clamp(1.1rem, 2vw, 1.5rem);
  --font-list-header: clamp(1rem, 2vw, 1.5rem);
  --font-list-label: clamp(1rem, 3vw, 1.3rem);
  --font-list-label-s: clamp(0.9rem, 3vw, 1.2rem);

  /*============================================*/
  /*           default-btn*/
  /*============================================*/

  --btn-height-default: 0.8rem;
  --btn-height-small: 1rem;
  --circle-radius: 100%;

  --s-brd-rad: 1rem;
  --m-brd-rad: 2rem;

  /*============================================*/
  /*   Fonts   Main text*/
  /*============================================*/

  font-family: "Roboto", sans-serif;

  --font-logo: "Bodoni", serif;

  /* font-family: "Bodoni", serif;
  font-weight: 500; */
}
